{% extends 'base.html.twig' %}

{% block body %}
    <h1>Roles</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ role.name }}</td>
            </tr>
            <tr>
                <th>Isactive</th>
                <td>{% if role.isActive %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ role.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('roles_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('roles_edit', { 'id': role.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
